* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	position: relative;
	font-family: sans-serif;

	background-color: #222;
	color: #fff;
}

#game {
	/* background-color: #0bf; */
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: 11 / 17;
}

#game {
	display: grid;
	grid-template: 1fr
				   1fr 1fr 1fr 1fr 1fr
				   1fr 1fr 1fr 1fr 1fr
				   1fr 1fr 1fr 1fr 1fr
				   1fr
				   /
				   1fr
				   1fr 1fr 1fr
				   1fr 1fr 1fr
				   1fr 1fr 1fr
				   1fr;
}

#opponent {
	grid-area: 1 / 5 / span 1 / span 6;
	margin: calc(4em / 14) calc(4em / 14) 0;
	background-color: inherit;
	border: calc(4em / 14) solid #404040;
	color: inherit;
	font-size: inherit;
	text-align: center;
}
#opponent option {
	background-color: #222;
}

.board {
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.die {
	display: block;
	cursor: pointer;
	
    background-size: cover;
    background-repeat: no-repeat;
}

.die[data-value="0"] {
	background-image: url("data:image/svg+xml;utf8, \
<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='-1 -1 14 14'> \
  <rect style='stroke: rgb(64,64,64); stroke-width: 1; fill: none' x='0.5' y='0.5' width='11' height='11' /> \
</svg>");
}

.die[data-value="1"] {
	background-image: url("data:image/svg+xml;utf8, \
<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='-1 -1 14 14'> \
  <rect style='stroke: rgb(128,128,128); stroke-width: 1; fill: rgb(204,204,204)' x='0.5' y='0.5' width='11' height='11' /> \
  <circle cx='6' cy='6' r='1.25'/> \
</svg>");
}

.die[data-value="2"] {
	background-image: url("data:image/svg+xml;utf8, \
<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='-1 -1 14 14'> \
  <rect style='stroke: rgb(128,128,128); stroke-width: 1; fill: rgb(204,204,204)' x='0.5' y='0.5' width='11' height='11' /> \
  <circle cx='3' cy='6' r='1.25'/> \
  <circle cx='9' cy='6' r='1.25'/> \
</svg>");
}

.die[data-value="3"] {
	background-image: url("data:image/svg+xml;utf8, \
<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='-1 -1 14 14'> \
  <rect style='stroke: rgb(128,128,128); stroke-width: 1; fill: rgb(204,204,204)' x='0.5' y='0.5' width='11' height='11' /> \
  <circle cx='3' cy='9' r='1.25'/> \
  <circle cx='6' cy='6' r='1.25'/> \
  <circle cx='9' cy='3' r='1.25'/> \
</svg>");
}

.die[data-value="4"] {
	background-image: url("data:image/svg+xml;utf8, \
<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='-1 -1 14 14'> \
  <rect style='stroke: rgb(128,128,128); stroke-width: 1; fill: rgb(204,204,204)' x='0.5' y='0.5' width='11' height='11' /> \
  <circle cx='3' cy='3' r='1.25'/> \
  <circle cx='3' cy='9' r='1.25'/> \
  <circle cx='9' cy='3' r='1.25'/> \
  <circle cx='9' cy='9' r='1.25'/> \
</svg>");
}

.die[data-value="5"] {
	background-image: url("data:image/svg+xml;utf8, \
<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='-1 -1 14 14'> \
  <rect style='stroke: rgb(128,128,128); stroke-width: 1; fill: rgb(204,204,204)' x='0.5' y='0.5' width='11' height='11' /> \
  <circle cx='3' cy='3' r='1.25'/> \
  <circle cx='3' cy='9' r='1.25'/> \
  <circle cx='9' cy='3' r='1.25'/> \
  <circle cx='9' cy='9' r='1.25'/> \
  <circle cx='6' cy='6' r='1.25'/> \
</svg>");
}

.die[data-value="6"] {
	background-image: url("data:image/svg+xml;utf8, \
<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='-1 -1 14 14'> \
  <rect style='stroke: rgb(128,128,128); stroke-width: 1; fill: rgb(204,204,204)' x='0.5' y='0.5' width='11' height='11' /> \
  <circle cx='3' cy='3' r='1.25'/> \
  <circle cx='3' cy='6' r='1.25'/> \
  <circle cx='3' cy='9' r='1.25'/> \
  <circle cx='9' cy='3' r='1.25'/> \
  <circle cx='9' cy='6' r='1.25'/> \
  <circle cx='9' cy='9' r='1.25'/> \
</svg>");
}

.error {
	background-color: rgba(255,0,0,0.5);
	background-blend-mode: multiply;
}
.best {
	background-color: rgba(0,192,0.5);
	background-blend-mode: multiply;
}

#board-other {
	grid-area: 3 / 5 / span 6 / span 6;
}
#board-current {
	grid-area: 10 / 5 / span 6 / span 6;
}
#tray {
	grid-area: 14 / 2 / span 2 / span 2;

	display: grid;
	grid-template: 1fr / 1fr;
	/* position: absolute;
	 * bottom: 0;
	 * left: -100px; */
}
#flip, #reset {
	color: #888;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150%;
	cursor: pointer;
}
#flip  { grid-area: 9 / 2 / span 1 / span 2; }
#reset { grid-area: 1 / 2 / span 1 / span 2; margin-bottom: calc(-4em / 14);  }

#status-badinput,
#status-loading,
#status-nodie,
#status-error {
	grid-area: 16 / 2 / span 2 / span 9;
	text-align: center;

	display: /* flex */ none;
	justify-content: center;
	align-items: center;
}
#status-badinput {
	border: calc(4em / 14) solid rgba(255,0,0,0.5);
}
#status-error {
	border: calc(4em / 14) solid rgba(255,0,0,1);
}
#status-loading {
	border: calc(4em / 14) solid #404040;
}
#status-nodie {
	border: calc(4em / 14) solid #404040;
}
#status-nodie > div {
	font-size: 75%;
}
#result-0 { grid-area: 16 / 5 / span 3 / span 2; }
#result-1 { grid-area: 16 / 7 / span 3 / span 2; }
#result-2 { grid-area: 16 / 9 / span 3 / span 2; }
.result {
	font-size: 75%;
	text-align: center;
	color: #888;
	cursor: pointer;
}
.arrow { font-size: 175%; }
.result.good {
	color: rgb(0,192,0);
}

#opp-move-0 { grid-area: 2 / 5 / span 1 / span 2; }
#opp-move-1 { grid-area: 2 / 7 / span 1 / span 2; }
#opp-move-2 { grid-area: 2 / 9 / span 1 / span 2; }
.opp-move {
	font-size: 75%;
	text-align: center;
	color: #404040;
	cursor: pointer;
}

#help {
	margin: calc(4em / 14);
	border: calc(4em / 14) solid #404040;
	grid-area: 3 / 2 / span 2 / span 2;
	display: grid;
	grid-template: 1fr auto 1fr / 1fr auto 1fr;
	cursor: pointer;
}
#help div {
	grid-area: 2 / 2 / span 1 / span 1;
	font-size: 200%;
	color: #888;
}
#help-page {
	margin: calc(4em / 14);
	border: calc(4em / 14) solid #404040;
	background-color: #222;
	grid-area: 3 / 4 / span 13 / span 7;
	display: /* grid */ none;
	grid-template: 1fr auto 1fr / 1fr auto 1fr;
	overflow: auto;
}
#help-page div {
	font-size: 50%;
	padding: 1em 2em;
}
a {
	color: #08f;
}
ul, ol {
	/* default is 40px which is not responsive: */
	padding-inline-start: 2em;
}
